.jumbotron {
    font-family: 'Major Mono Display', monospace;
    color: #FF3B3F;
    background: #EFEFEF !important;
}
.nav {
    background: #A9A9A9;
}
.nav-link {
    color: #CAEBF2;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.text {
    font-family: 'Poppins', sans-serif;
    color: #FF3B3F;
    text-align: center;
    font-size: 25px;
}
.alltext {
    font-family: 'Poppins', sans-serif;
    color: #CAEBF2;
    font-size: 30px;
}
#center img {
    text-align: center;
    width: 100%;
}